In [1]:
import pandas as pd
import numpy as np

In [2]:
arquivo = "../data/raw/BASE DE DADOS PEDE 2024 - DATATHON.xlsx"

df_2022 = pd.read_excel(arquivo, sheet_name="PEDE2022")

columns = [
    "RA", 
    "Fase",
    "Ano nasc",
    "Gênero",
    "Instituição de ensino",
    "Pedra 22",
    "INDE 22",
    "Cg",
    "Cf",
    "Ct",
    "Nº Av",
    "IAA",
    "IEG",
    "IPS",
    "Rec Psicologia",
    "IDA",
    "Matem", 
    "Portug", 
    "Inglês",
    "Indicado",
    "Atingiu PV",
    "IPV",
    "IAN",
    "Destaque IEG", 
    "Destaque IDA", 
    "Destaque IPV",
    "Defas", 
    "ano_base"
]
df_2022["ano_base"] = 2022
df_2022 = df_2022[columns].rename(columns={"INDE 22": "INDE", "Pedra 22": "Pedra"})
df_2022.head()

,RA,Fase,Ano nasc,Gênero,Instituição de ensino,Pedra,INDE,Cg,Cf,Ct,...,Inglês,Indicado,Atingiu PV,IPV,IAN,Destaque IEG,Destaque IDA,Destaque IPV,Defas,ano_base
0,RA-1,7,2003,Menina,Escola Pública,Quartzo,5.783,753,18,10,...,6.0,Sim,Não,7.278,5.0,Melhorar: Melhorar a sua entrega de lições de ...,Melhorar: Empenhar-se mais nas aulas e avaliaç...,Melhorar: Integrar-se mais aos Princípios Pass...,-1,2022
1,RA-2,7,2005,Menina,Rede Decisão,Ametista,7.055,469,8,3,...,9.7,Não,Não,6.778,10.0,Melhorar: Melhorar a sua entrega de lições de ...,Melhorar: Empenhar-se mais nas aulas e avaliaç...,Melhorar: Integrar-se mais aos Princípios Pass...,0,2022
2,RA-3,7,2005,Menina,Rede Decisão,Ágata,6.591,629,13,6,...,6.9,Não,Não,7.556,10.0,Destaque: A sua boa entrega das lições de casa.,Melhorar: Empenhar-se mais nas aulas e avaliaç...,Destaque: A sua boa integração aos Princípios ...,0,2022
3,RA-4,7,2005,Menino,Rede Decisão,Quartzo,5.951,731,15,7,...,8.7,Não,Não,5.278,10.0,Melhorar: Melhorar a sua entrega de lições de ...,Melhorar: Empenhar-se mais nas aulas e avaliaç...,Melhorar: Integrar-se mais aos Princípios Pass...,0,2022
4,RA-5,7,2005,Menina,Rede Decisão,Ametista,7.427,344,6,2,...,5.7,Não,Não,7.389,10.0,Destaque: A sua boa entrega das lições de casa.,Melhorar: Empenhar-se mais nas aulas e avaliaç...,Melhorar: Integrar-se mais aos Princípios Pass...,0,2022

In [3]:
df_2023 = pd.read_excel(arquivo, sheet_name="PEDE2023")

columns = [
    "RA",
    "Fase",
    "Data de Nasc",
    "Gênero",
    "Instituição de ensino",
    "Pedra 23",
    "INDE 2023",
    "Cg",
    "Cf",
    "Ct",
    "Nº Av",
    "IAA",
    "IEG",
    "IPS",
    "Rec Psicologia",
    "IDA",
    "Mat", 
    "Por", 
    "Ing",
    "Indicado",
    "Atingiu PV",
    "IPV",
    "IAN",
    "Destaque IEG", 
    "Destaque IDA", 
    "Destaque IPV",
    "Defasagem", 
]
df_2023 = df_2023[columns] 
df_2023["Ano nasc"] = pd.to_datetime(df_2023["Data de Nasc"]).dt.year
df_2023["ano_base"] = 2023


df_2023 = df_2023.rename(columns={
    "INDE 2023": "INDE",
    "Mat": "Matem",
    "Por": "Portug",
    "Ing": "Inglês",
    "Defasagem": "Defas",
    "Pedra 23": "Pedra",
}).drop(columns=["Data de Nasc"])


df_2023.head()

,RA,Fase,Gênero,Instituição de ensino,Pedra,INDE,Cg,Cf,Ct,Nº Av,...,Indicado,Atingiu PV,IPV,IAN,Destaque IEG,Destaque IDA,Destaque IPV,Defas,Ano nasc,ano_base
0,RA-861,ALFA,Feminino,Pública,NaN,9.31095,NaN,NaN,NaN,2.0,...,NaN,NaN,8.920,10.0,NaN,NaN,NaN,0,2015,2023
1,RA-862,ALFA,Masculino,Pública,NaN,8.22120,NaN,NaN,NaN,2.0,...,NaN,NaN,8.585,5.0,NaN,NaN,NaN,-1,2014,2023
2,RA-863,ALFA,Masculino,Pública,NaN,5.92975,NaN,NaN,NaN,2.0,...,NaN,NaN,6.260,10.0,NaN,NaN,NaN,0,2016,2023
3,RA-864,ALFA,Feminino,Pública,NaN,7.03400,NaN,NaN,NaN,2.0,...,NaN,NaN,8.500,10.0,NaN,NaN,NaN,0,2015,2023
4,RA-865,ALFA,Masculino,Pública,NaN,8.15520,NaN,NaN,NaN,2.0,...,NaN,NaN,7.915,10.0,NaN,NaN,NaN,0,2014,2023

In [4]:
df_2024 = pd.read_excel(arquivo, sheet_name="PEDE2024")

columns = [
    "RA", 
    "Fase",
    "Data de Nasc",
    "Gênero",
    "Instituição de ensino",
    "Pedra 2024",
    "INDE 2024",
    "Cg",
    "Cf",
    "Ct",
    "Nº Av",
    "IAA",
    "IEG",
    "IPS",
    "Rec Psicologia",
    "IDA",
    "Mat", 
    "Por", 
    "Ing",
    "Indicado",
    "Atingiu PV",
    "IPV",
    "IAN",
    "Destaque IEG", 
    "Destaque IDA", 
    "Destaque IPV",
    "Defasagem", 
]

df_2024 = df_2024[columns]
df_2024["Ano nasc"] = pd.to_datetime(df_2024["Data de Nasc"]).dt.year
df_2024["ano_base"] = 2024

df_2024 = df_2024.rename(columns={
    "INDE 2024": "INDE",
    "Mat": "Matem",
    "Por": "Portug",
    "Ing": "Inglês",
    "Defasagem": "Defas",
    "Pedra 2024": "Pedra",
}).drop(columns=["Data de Nasc"])

df_2024.head()

,RA,Fase,Gênero,Instituição de ensino,Pedra,INDE,Cg,Cf,Ct,Nº Av,...,Indicado,Atingiu PV,IPV,IAN,Destaque IEG,Destaque IDA,Destaque IPV,Defas,Ano nasc,ano_base
0,RA-1275,ALFA,Masculino,Pública,Ametista,7.611367,NaN,NaN,NaN,3,...,NaN,NaN,5.446667,10.0,NaN,NaN,NaN,0,2016,2024
1,RA-1276,ALFA,Feminino,Pública,Topázio,8.002867,NaN,NaN,NaN,3,...,NaN,NaN,7.050000,10.0,NaN,NaN,NaN,0,2016,2024
2,RA-1277,ALFA,Masculino,Pública,Ametista,7.9522,NaN,NaN,NaN,3,...,NaN,NaN,7.046667,10.0,NaN,NaN,NaN,0,2016,2024
3,RA-868,ALFA,Masculino,Pública,Ametista,7.156367,NaN,NaN,NaN,3,...,NaN,NaN,7.213333,5.0,NaN,NaN,NaN,-1,2015,2024
4,RA-1278,ALFA,Masculino,Pública,Quartzo,5.4442,NaN,NaN,NaN,3,...,NaN,NaN,4.173333,5.0,NaN,NaN,NaN,-1,2015,2024

In [5]:
df_tratado = pd.concat([df_2022, df_2023, df_2024], ignore_index=True)
df_tratado.head()

,RA,Fase,Ano nasc,Gênero,Instituição de ensino,Pedra,INDE,Cg,Cf,Ct,...,Inglês,Indicado,Atingiu PV,IPV,IAN,Destaque IEG,Destaque IDA,Destaque IPV,Defas,ano_base
0,RA-1,7,2003,Menina,Escola Pública,Quartzo,5.783,753.0,18.0,10.0,...,6.0,Sim,Não,7.278,5.0,Melhorar: Melhorar a sua entrega de lições de ...,Melhorar: Empenhar-se mais nas aulas e avaliaç...,Melhorar: Integrar-se mais aos Princípios Pass...,-1,2022
1,RA-2,7,2005,Menina,Rede Decisão,Ametista,7.055,469.0,8.0,3.0,...,9.7,Não,Não,6.778,10.0,Melhorar: Melhorar a sua entrega de lições de ...,Melhorar: Empenhar-se mais nas aulas e avaliaç...,Melhorar: Integrar-se mais aos Princípios Pass...,0,2022
2,RA-3,7,2005,Menina,Rede Decisão,Ágata,6.591,629.0,13.0,6.0,...,6.9,Não,Não,7.556,10.0,Destaque: A sua boa entrega das lições de casa.,Melhorar: Empenhar-se mais nas aulas e avaliaç...,Destaque: A sua boa integração aos Princípios ...,0,2022
3,RA-4,7,2005,Menino,Rede Decisão,Quartzo,5.951,731.0,15.0,7.0,...,8.7,Não,Não,5.278,10.0,Melhorar: Melhorar a sua entrega de lições de ...,Melhorar: Empenhar-se mais nas aulas e avaliaç...,Melhorar: Integrar-se mais aos Princípios Pass...,0,2022
4,RA-5,7,2005,Menina,Rede Decisão,Ametista,7.427,344.0,6.0,2.0,...,5.7,Não,Não,7.389,10.0,Destaque: A sua boa entrega das lições de casa.,Melhorar: Empenhar-se mais nas aulas e avaliaç...,Melhorar: Integrar-se mais aos Princípios Pass...,0,2022

In [6]:
df_tratado["ano_base"].value_counts(dropna=False)

ano_base
2024    1156
2023    1014
2022     860
Name: count, dtype: int64

In [7]:
df_tratado.columns

Index(['RA', 'Fase', 'Ano nasc', 'Gênero', 'Instituição de ensino', 'Pedra',
       'INDE', 'Cg', 'Cf', 'Ct', 'Nº Av', 'IAA', 'IEG', 'IPS',
       'Rec Psicologia', 'IDA', 'Matem', 'Portug', 'Inglês', 'Indicado',
       'Atingiu PV', 'IPV', 'IAN', 'Destaque IEG', 'Destaque IDA',
       'Destaque IPV', 'Defas', 'ano_base'],
      dtype='object')

In [8]:
dicionario_dados = {
    "RA": "Id do Aluno", 
    "Fase": "Fase e Turma do Aluno", 
    "Ano nasc": "Ano de Nascimento do Aluno", 
    "Gênero": "Genero do Aluno", 
    "Instituição de ensino": "Instituição de Ensino do Aluno", 
    "Pedra": "Classificação do Aluno baseado no número de INDE",
    "INDE": "Índice do Desenvolvimento Educacional, dado pela ponderação de IAN, IDA, IEG, IAA, IPS, IPP e IPV", 
    "Cg": "Classificação Geral do Aluno", 
    "Cf": "Classificação do Aluno na Fase", 
    "Ct": "Classificação do Aluno na Turma", 
    "Nº Av": "Número de avaliações do Aluno", 
    "IAA": "Indicador de Auto Avaliação", 
    "IEG": "Indicador de Engajamento do Aluno", 
    "IPS": "Indicador Psicossocial",
    "Rec Psicologia": "Recomendação da equipe de psicologia", 
    "IDA": "Indicador de Aprendizagem", 
    "Matem": "Nota de Matemática", 
    "Portug": "Nota de Português", 
    "Inglês": "Nota de Inglês",
    "Indicado": "Sinaliza se Aluno foi indicado para alguma bolsa",
    "Atingiu PV": "Sinaliza se Aluno atingiu o Ponto de Virada", 
    "IPV": "Indicador do Ponto de Virada", 
    "IAN": "Indicado de Adequaçao ao Nível", 
    "Destaque IEG": "Observações dos Mestres sobre Indicador de Engajamento", 
    "Destaque IDA": "Observações dos Mestres sobre Indicador de Aprendizagem",
    "Destaque IPV": "Observações dos Mestres sobre Indicador do Ponto de Virada", 
    "Defas": "Nível de Defasagem do Aluno", 
    "ano_base": "Ano da coleta de dados"
}

In [ ]:
dicionario_dados = {
    "INDE": "Índice do Desenvolvimento Educacional, dado pela ponderação de IAN, IDA, IEG, IAA, IPS, IPP e IPV", 
    "IAN": "Indicado de Adequaçao ao Nível", 
    "IDA": "Indicador de Aprendizagem", 
    "IEG": "Indicador de Engajamento do Aluno", 
    "IAA": "Indicador de Auto Avaliação", 
    "IPS": "Indicador Psicossocial",
    "IPV": "Indicador do Ponto de Virada", 
    "Matem": "Nota de Matemática", 
    "Portug": "Nota de Português", 
    "Nº Av": "Número de avaliações do Aluno", 
    "Gênero": "Genero do Aluno", 
    "Instituicao_padronizada": "Instituição de Ensino do Aluno", 
    "Rec_Psicologia_padronizada": "Recomendação da equipe de psicologia", 
}

In [ ]:
idade	INDE	IAN	IDA	IEG	IAA	IPS	IPV	Matem	Portug	Nº Av	Gênero	Instituicao_padronizada	Fase	Rec_Psicologia_padronizada

In [9]:
cols_to_drop = [
    "Pedra", # Classificaçao do Aluno baseado no numero do INDE
    "Destaque IEG", # Observaço es dos Avaliadores Sobre o Aluno referente IEG
    "Destaque IDA", # Observaço es dos Avaliadores Sobre o Aluno referente IDA
    "Destaque IPV", # Observaço es dos Avaliadores sobre o Aluno referente IPV
    "Pedra", # Classificação do Aluno baseado no número de INDE
    "Cg", # "Classificação Geral do Aluno", 
    "Cf", # "Classificação do Aluno na Fase", 
    "Ct", # "Classificação do Aluno na Turma",
]

df_tratado = df_tratado.drop(columns=cols_to_drop)

In [10]:
(df_tratado.isnull().mean() * 100).sort_values(ascending=False)

Rec Psicologia           71.617162
Atingiu PV               71.617162
Indicado                 71.617162
Inglês                   63.993399
Portug                    6.105611
Matem                     6.072607
IPV                       5.874587
IDA                       5.874587
IPS                       5.643564
IAA                       5.445545
INDE                      4.851485
Nº Av                     2.508251
IEG                       2.508251
Instituição de ensino     0.033003
Defas                     0.000000
IAN                       0.000000
RA                        0.000000
Fase                      0.000000
Gênero                    0.000000
Ano nasc                  0.000000
ano_base                  0.000000
dtype: float64

In [11]:
df_tratado.dtypes

RA                        object
Fase                      object
Ano nasc                   int64
Gênero                    object
Instituição de ensino     object
INDE                      object
Nº Av                    float64
IAA                      float64
IEG                      float64
IPS                      float64
Rec Psicologia            object
IDA                      float64
Matem                    float64
Portug                   float64
Inglês                   float64
Indicado                  object
Atingiu PV                object
IPV                      float64
IAN                      float64
Defas                      int64
ano_base                   int64
dtype: object

In [12]:
df_tratado["Fase"] = df_tratado["Fase"].astype(str)
df_tratado["INDE"] = df_tratado["INDE"].astype(str)

In [13]:
df_tratado.to_parquet("../data/processed/dados_tratados.parquet", index=False)